body{
    margin: 0;
    padding: 0;
    background-image: url("../img/img.png");
    background-size: 100% 810px;
    background-repeat: no-repeat;
    background-attachment:fixed;
    width: 100%;
}

.head{
    font-size: 68px;
    text-align: center;
    font-style: italic;
    font-family: 华文彩云;

}
.link{
    margin: 16px;
    float: left;
    width: 17%;
}
.link a{
    float: left;
    width: 250px;
    font-size: 48px;
    margin: 36px 8px 36px 8px;
    text-decoration: none;
    color:#ff0015;
    text-align: center;
}
.content{
    margin: 16px;
    float: left;
    width: 77%;
}
#head{
    text-align: center;
    color: #9aceff;
    font-size: 48px;
}
.p1{
    font-size: 36px;
    text-align: center;
    color: #ff8cfa;
    margin: 36px 0 36px 0;
}
